.btn {
    border-radius: 0;
}

.my-card {
    color: #000000;
    border-radius: 0;
}

.my-card > .panel-body {
    height: 300px;
}

.my-card a,
.my-card a:hover,
.my-card a:active,
.my-card a:focus,
.my-card a:visited {
    text-decoration: none;
    color: #000000;
}

.my-card > .panel-footer {
    color: #337ab7;
}

.my-card > .edit-button {
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 0;
}