@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf');
}

.btn {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

.modal-danger .modal-header {
    background-color: #d9534f;
    color: #fff;
}

.modal-success .modal-header {
    background-color: #5cb85c;
    color: #fff;
}

.modal-info .modal-header {
    background-color: #337ab7;
    color: #fff;
}

.modal-warning .modal-header {
    background-color: #f0ad4e;
    color: #fff;
}

.modal-danger .close,
.modal-success .close,
.modal-info .close,
.modal-warning .close {
    color: #fff;
}


.btn-link-info,
.btn-link-info,
.btn-link-info:hover,
.btn-link-info:active,
.btn-link-info:focus,
.btn-link-info:visited {
    color: #337ab7;
}

.btn-link-danger,
.btn-link-danger,
.btn-link-danger:hover,
.btn-link-danger:active,
.btn-link-danger:focus,
.btn-link-danger:visited {
    color: #d9534f;
}

.btn-link-success,
.btn-link-success,
.btn-link-success:hover,
.btn-link-success:active,
.btn-link-success:focus,
.btn-link-success:visited {
    color: #5cb85c;
}

.btn-link-warning,
.btn-link-warning,
.btn-link-warning:hover,
.btn-link-warning:active,
.btn-link-warning:focus,
.btn-link-warning:visited {
    color: #f0ad4e;
}

.my-card {
    border-radius: 0;
}

.my-card-small > .panel-body {
    height: 50px;
}

.my-card > .panel-body {
    height: 300px;
}

.btn-border-left {
    border-left: 1px solid #ddd;
}

.my-card a:not(.btn),
.my-card a:not(.btn):hover,
.my-card a:not(.btn):active,
.my-card a:not(.btn):focus,
.my-card a:not(.btn):visited {
    text-decoration: none;
    color: inherit;
}

.my-card > .panel-footer {
    color: #337ab7;
}

.my-card > .edit-button {
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 0;
}

.my-card > .my-card-footer-small {
    padding: 0 15px;
}

.comment-card .thumbnail {
    padding:0;
}

.comment-card h4 {
    margin-top: 0;
}

.comment-card .panel-body:after,
.comment-card .panel-body:before {
    position:absolute;
    top:25px;
    left:-1px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.comment-card .panel-body:after {
    border-width:8px;
    border-right-color:#fff;
    margin-top:0;
    margin-left:1px;
}
.comment-card .panel-body:before {
    border-right-color:#ddd;
    border-width:8px;
}

.comment-card .panel-footer {
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    transition: bottom 1s ease-out, opacity 0.5s;
}

.comment-card:hover .panel-footer  {
    opacity: 100;
}

.comment-card .panel {
    border-radius: 0;
}

.comment-card .panel-body p {
    margin: 0;
}

.comment-user-photo {
    width: 70px !important;
    height: 70px !important;
}

.user-photo {
    width: 100px !important;
    height: 100px !important;
}

.profile-card {
    background-color: rgba(245, 245, 245, 0.56);;
    font-family: 'Lato', sans-serif !important;
    text-transform: uppercase !important;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.32)
}

.profile-card .user-photo {
    position: absolute;
    top: -45px;
    left: 37%;
    border-radius: 100%;
}

.profile-card .btn {
    font-family: 'Lato', sans-serif !important;
    text-transform: uppercase !important;
}