<p>Your new password : <strong>{{ password }}</strong></p>

<p>
    Please change it as soon as possible.
    <br>
    Otherwise your account will be inactive on {{ valid_until|date('Y-m-d \\a\\t H:i') }}.
</p>