<h1>Welcome {{ user.firstname }}</h1>

<p>Your account have been created.</p>
<p>Your password is : <strong>{{ password }}</strong></p>

<br>

<p>
    Please change it as soon as possible.
    <br>
    Otherwise your account will be inactive on {{ valid_until|date('Y-m-d \\a\\t H:i') }}.
</p>