{% if app.user and app.user.passwordValidUntil %}
    <div class="alert alert-warning" role="alert">
        You have to change you're password as soon as possible
    </div>
{% endif %}

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{type}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
    {% endfor %}
{% endfor %}