{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(edit_form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('post_show', { 'slug': post.slug }) }}" class="btn btn-default">
                    <i class="fa fa-angle-left fa-align-left"></i>
                    Back
                </a>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary">
                    <i class="fa fa-floppy-o fa-align-left"></i>
                    Edit
                </button>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
