{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-default">Back</a>
            </div>
            <div class="col-md-6 text-right">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
