{% extends 'base.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('admin_user_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6 text-right">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
